
<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/layout}">
<head>
<title>Online Shop</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script th:src="@{/js/jsHome/home.js}"></script>
</head>

<style layout:fragment="style">
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 400px;
  }
</style>
<body>
	<div class="header_slide" layout:fragment="slide-home">
		<div id="demo" class="carousel" data-ride="carousel">

			<!-- Indicators -->
			<ul class="carousel-indicators">
				<li data-target="#demo" data-slide-to="0" class="active"></li>
				<li data-target="#demo" data-slide-to="1"></li>
				<li data-target="#demo" data-slide-to="2"></li>
			</ul>

			<!-- The slideshow -->
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="/images/banner-1.png" alt="Los Angeles">
				</div>
				<div class="carousel-item">
					<img src="/images/banner-2.jpg" alt="Chicago" >
				</div>
				<div class="carousel-item">
					<img src="/images/banner-3.jpg" alt="New York" >
				</div>
			</div>

			<!-- Left and right controls -->
			<a class="carousel-control-prev" href="#demo" data-slide="prev">
				<span class="carousel-control-prev-icon"></span>
			</a> <a class="carousel-control-next" href="#demo" data-slide="next">
				<span class="carousel-control-next-icon"></span>
			</a>
		</div>
	</div>

	<div class="main" layout:fragment="content-home">
		<div class="content">
			<div class="content_top">
				<div class="heading">
					<h3>Sản phẩm mới</h3>
				</div>
				<div class="see">
					<p>
						<a href="/sanphammoi">Xem tất cả</a>
					</p>
				</div>
				<div class="clear"></div>
			</div>
			<div class="section group">
				<th:block th:each="productsnew : ${session.PRODUCTSNEW}">
					<div class="grid_1_of_4 images_1_of_4">
						<a th:href="@{'/detail/' + ${productsnew[0].toString()}}"><img th:src="@{'/getimage/'+ ${productsnew[1].toString()}}"
							alt="" /></a>
						<h2 th:text="${productsnew[2].toString()}"></h2>
						<div class="price-details">
							<div class="price-number">
								<p>
									<span class="rupees" th:text="${productsnew[4].toString()}"></span>
								</p>
							</div>
							<div class="add-cart">
								<h4>
									<a th:href="@{'/detail/' + ${productsnew[0].toString()}}">Mua ngay</a>
								</h4>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</th:block>
			</div>
			<th:block th:each="category : ${Categorys}">
				<div class="content_bottom">
					<div class="heading">
						<h3 th:text='${category.categoryname + " nổi bật"}'></h3>
					</div>
					<div class="see">
						<p>
							<a th:href="@{'/'+${category.categorykey}}">Xem tất cả</a>
						</p>
					</div>
					<div class="clear"></div>
				</div>
				<div class="section group" >
					<th:block th:each="productBykey : ${category.lsProduct}">
						<div class="grid_1_of_4 images_1_of_4">
							<a th:href="@{'/detail/' + ${productBykey[0].toString()}}"><img th:src="@{'/getimage/'+ ${productBykey[1].toString()}}"
								alt="" /></a>
							<h2 th:text="${productBykey[2].toString()}"></h2>
							<div class="price-details">
								<div class="price-number">
									<p>
										<span class="rupees" th:text="${productBykey[4].toString()}"></span>
									</p>
								</div>
								<div class="add-cart">
									<h4>
										<a th:href="@{'/detail/' + ${productBykey[0].toString()}}">Mua ngay</a>
									</h4>
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</th:block>
				</div>
			</th:block>
		</div>
	</div>
</body>
</html>

