<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/layout}">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<script src="/js/easyResponsiveTabs.js" type="text/javascript"></script>
<link href="/css/easy-responsive-tabs.css" rel="stylesheet"
	type="text/css" media="all" />
<script th:src="@{/js/jsHome/home.js}"></script>

</head>
<body>
	<div class="main" layout:fragment="content-home">
		<div class="content">
			<div class="content_top">
			</div>
			<div class="section group">
				<div class="cont-desc span_1_of_2">
					<div class="product-details" >
						<div class="grid images_3_of_2">
							<img th:src="@{'/getimage/'+ ${session.ProductDetail.image}}" alt="" >
						</div>
						<div class="desc span_3_of_2">
							<h2 th:text="${session.ProductDetail.tensanpham}"></h2>
							<p></p>
							<input type="hidden" id="id" name="id" value="">
							<input type="hidden" id="productid" name="productid" th:value="${session.ProductDetail.id}">
							<div class="price">
								<div class="col-sm-12">
									<div class="col-sm-5" style="float: left;">
										<label>
											Giá tiền: <span th:text="${session.ProductDetail.giatien}"></span>
										</label>
									</div>
									<div class="col-sm-7" style="float: left;">
										 Số lượng : <input type="number" min="1" id="soluong" name="soluong" style="width: 100px;" value="1"/>
									</div>
								</div>
							</div>
							
							<div class="share-desc">
								<div class="button">
									<button type="button" class="btn btn-info addButton"
						 				style="float: right;">Thêm vào giỏ hàng</button>
								</div>
								<div class="clear"></div>
							</div>
							
						</div>
						<div class="clear"></div>
					</div>
					<div class="product_desc">
						<div id="horizontalTab">
							<ul class="resp-tabs-list">
								<li>Chi tiết sản phẩm</li>
								<div class="clear"></div>
							</ul>
							<div class="resp-tabs-container">
								<div class="product-desc">
									<p th:text="${session.ProductDetail.mota}">
									</p>
								</div>
							</div>
						</div>
					</div>
					<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion           
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });
   </script>
					<div class="content_bottom">
						<div class="heading">
							<h3>Sản phẩm liên quan</h3>
						</div>
						<div class="see">
							<p>
								<a href="#">Xem tất cả</a>
							</p>
						</div>
						<div class="clear"></div>
					</div>
					<div class="section group">
						<div class="grid_1_of_4 images_1_of_4">
							<a href="#"><img src="images/new-pic1.jpg" alt=""></a>
							<div class="price" style="border: none">
								<div class="add-cart" style="float: none">
									<h4>
										<a href="#">Mua ngay</a>
									</h4>
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="rightsidebar span_3_of_1">
					<h2>Loại sản phẩm </h2>
					<ul class="side-w3ls">
						<li><a href="#">Mobile Phones</a></li>
						<li><a href="#">Desktop</a></li>
						<li><a href="#">Laptop</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Thông báo</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Thêm sản phẩm vào giỏ thành công</p>
					</div>
						
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Tiếp tục mua hàng</button>
						<a href="/giohang/list" class="btn btn-primary" id="deleteId">Đi tới giỏ hàng</a>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<a href="#" id="toTop"><span id="toTopHover"> </span></a>
</body>
</html>

