
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/layout-admin}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>JSP Page</title>

<script type="text/javascript" th:src="@{/js/chucnang.js}"></script>
<link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script th:src="@{/js/bootstrap-multiselect.js}"></script>
<link rel="stylesheet" th:href="@{/css/bootstrap-multiselect.css}" />

<style>
.custom-combobox {
	position: relative;
	display: inline-block;
}

.custom-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
}

.custom-combobox-input {
	margin: 0;
	padding-top: 2px;
	padding-bottom: 5px;
	padding-right: 5px;
}
</style>
</head>
<body>

	<article layout:fragment="content-admin">
		<div class="container">
			<div class="row"
				style="background-color: darkgrey; padding: 0; margin: 0;">
				<div class="col-sm-6">
					<h3 style="padding: 0; margin-top: 10px;">Danh sách chức năng</h3>
				</div>
				<div class="col-sm-6" style="padding: 0; margin-top: 5px;">
					<button type="button" class="btn btn-danger deleteButton"
						style="float: right; margin-left: 10px; margin-right: 10px;">
						<span class="glyphicon glyphicon-trash"></span>Xóa
					</button>
					<button type="button" class="btn btn-primary addButton"
						style="float: right;">
						<span class="glyphicon glyphicon-plus"></span>Thêm mới
					</button>

				</div>
			</div>

			<form action="/chucnang/dataSearch" style="margin-top: 10px;">
				<div class="row">
					<div class="col-sm-6">
						<label for="name" class="mr-sm-2">Tên chức năng:</label> <input
							type="text" placeholder="Nhập name cần tìm" name="keywords"
							class="form-control" th:value="${session.KEYWORDVIEW}" />
					</div>
					<div class="col-sm-6">
						<label for="name" class="mr-sm-2">Mã chức năng:</label> <input
							type="text" name="keysearch" class="form-control"
							th:value="${session.KEYSEARCH}" />
					</div>
				</div>
				<button type="submit" class="btn btn-primary"
					style="margin-top: 10px; margin-bottom: 10px; float: right;">
					<span class="glyphicon glyphicon-search"></span> Tìm kiếm
				</button>
			</form>

			<th:block th:if="${null==CHUCNANGS}">
				<h3 style="text-align: center;" th:text="${session.MESLIST}"></h3>
			</th:block>
			<th:block th:unless="${null==CHUCNANGS}">
				<form th:action="@{/chucnang/deleteAll}" method="get"
					id="formDelete">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th><input id="selectAll" type="checkbox"></th>
								<th>Tên chức năng</th>
								<th>URL</th>
								<th>Mã chức năng</th>
							</tr>
						</thead>
						<tbody>

							<tr th:each="item: ${CHUCNANGS}">
								<td><input type="checkbox" name="id[]"
									th:value="${item.id}"></td>
								<td>
									<a th:href="@{/chucnang/oneChucnang/(id=${item.id})}" class="editButton">
									<label class="linkEdit" th:text="${item.name}"></label></a>
								</td>
								<td th:text="${item.url}"></td>
								<td th:text="${item.key}"></td>
							</tr>

						</tbody>
					</table>
				</form>
				<div class="row">
					<div class="col-sm-4" style="margin-top: 20px;">
						<form class="form-inline" action="/chucnang/pagesize"
							method="post">
							<input type="number" placeholder="Nhập số dòng trên trang"
								name="pagesize" class="form-control"
								th:value="${session.PAGESIZE}" />
							<button type="submit" class="btn btn-primary"
								style="margin-left: 10px;">Hiển thị</button>
						</form>
					</div>

					<div class="col-sm-4" style="text-align: center;">
						<ul class="pagination justify-content-center">
							<li
								th:class="${currentIndex == 1}? 'page-item disabled' : 'page-item'">
								<a class="page-link" th:href="@{|${baseUrl}${1}|}">First</a>
							</li>
							<li
								th:class="${currentIndex == 1}? 'page-item disabled': 'page-item' ">
								<a class="page-link" aria-label="Previous"
								th:href="@{|${baseUrl}${currentIndex - 1}|}"
								title='Go to previous page'><span aria-hidden="true">«</span>
									<span class="sr-only">Previous</span></a>
							</li>
							<li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
								th:class="${item == currentIndex ? 'page-item active' :'page-item' }">
								<a class="page-link" th:href="@{|${baseUrl}${item}|}"> <span
									th:text='${item}'>1</span>
							</a>
							</li>
							<li
								th:class="${currentIndex == totalPageCount}? 'page-item disabled': 'page-item'">
								<a class="page-link" aria-label="Next"
								th:href="@{|${baseUrl}${currentIndex + 1}|}"
								title='Go to next page'><span aria-hidden="true">»</span> <span
									class="sr-only">Next</span></a>
							</li>
							<li
								th:class="${currentIndex == totalPageCount}? 'page-item disabled':'page-item'">
								<a class="page-link" th:href="@{|${baseUrl}${totalPageCount}|}">Last</a>
							</li>
						</ul>
					</div>

					<div class="col-sm-4" style="margin-top: 20px;">
						<p style="text-align: center">
							TỔNG SỐ RECORD : <label th:text="${session.COUNT}"></label>
						</p>
					</div>

				</div>
			</th:block>
		</div>

		<div class="modal fade" id="addModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<form th:action="@{/chucnang/addNew}" method="post" id="formAdd"
				onsubmit="return formAddValidation()">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Thêm mới chức năng</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">

							<div class="form-group">
								<input type="hidden" class="form-control" id="idAdd" name="id">
							</div>
							<div class="form-group">
								<label for="key" class="col-form-label">Mã chức năng(<label
									style="color: red">*</label>):
								</label> <input type="text" class="form-control" id="keyAdd" name="key">
							</div>
							<p id="errorkeyAdd" style="color: red"
								th:text="${session.MESKEY}"></p>

							<div class="form-group">
								<label for="name" class="col-form-label">Tên chức năng(<label
									style="color: red">*</label>):
								</label> <input type="text" class="form-control" id="nameAdd"
									name="name">
							</div>
							<p id="errornameAdd" style="color: red"
								th:text="${session.MESNAME}"></p>

							<div class="form-group">
								<label for="url" class="col-form-label">URL:</label> <input
									type="text" class="form-control" id="urlAdd" name="url">
							</div>

							<div class="ui-widget">
								<label>Chức năng cha</label> <select id="combobox"
									name="chucnangcha">
									<option th:each="item:${CNCS}" th:value="${item.id}"
										th:text="${item.name}"></option>
								</select>
							</div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Đóng</button>
							<button type="submit" class="btn btn-primary">Lưu</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<form th:action="@{/chucnang/save}" method="put" id="formEdit"
				onsubmit="return formEditValidation()">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Cập nhật chức
								năng</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">

							<div class="form-group">
								<input type="hidden" class="form-control" id="idEdit" name="id">
							</div>

							<div class="form-group">
								<label for="key" class="col-form-label">Mã chức năng(<label
									style="color: red">*</label>):
								</label> <input type="text" class="form-control" id="keyEdit" name="key">
							</div>
							<p id="errorkeyEdit" style="color: red"
								th:text="${session.MESKEY}"></p>

							<div class="form-group">
								<label for="name" class="col-form-label">Tên chức năng(<label
									style="color: red">*</label>):
								</label> <input type="text" class="form-control" id="nameEdit"
									name="name">
							</div>
							<p id="errornameEdit" style="color: red"
								th:text="${session.MESNAME}"></p>

							<div class="form-group">
								<label for="url" class="col-form-label">URL:</label> <input
									type="text" class="form-control" id="urlEdit" name="url">
							</div>

							<div class="ui-widget">
								<label>Chức năng cha</label> <select id="comboboxEdit"
									name="chucnangcha">
									<option th:each="item:${CNCS}" th:value="${item.id}"
										th:text="${item.name}"></option>
								</select>
							</div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Đóng</button>
							<button type="submit" class="btn btn-primary">Lưu</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Thông báo</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Bạn có muốn xóa những hàng đã chọn ko</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="deleteId">Xóa</button>
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Đóng</button>
					</div>
				</div>
			</div>
		</div>
	</article>
</body>
</html>
