
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/layout-admin}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>JSP Page</title>

<script type="text/javascript" th:src="@{/js/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{/js/user.js}"></script>

<script th:src="@{/js/bootstrap-multiselect.js}"></script>
<link rel="stylesheet" th:href="@{/css/bootstrap-multiselect.css}" />
<style type="text/css">
	.table > tbody > tr > td{
		vertical-align: middle;
	}
</style>
</head>
<body>

	<article layout:fragment="content-admin">
		<div class="container">
			<div class="row"
				style="background-color: darkgrey; padding: 0; margin: 0;">
				<div class="col-sm-6">
					<h3 style="padding: 0; margin-top: 10px;">Danh sách người dùng</h3>
				</div>
				<div class="col-sm-6" style="padding: 0; margin-top: 5px;">
					<button type="button" class="btn btn-danger deleteButton"
						style="float: right; margin-left: 10px; margin-right: 10px;">
						<span class="glyphicon glyphicon-trash"></span>DELETE
					</button>
					
					<button type="button" class="btn btn-primary addButton"
						 style="float: right;">
						<span class="glyphicon glyphicon-plus"></span>Add new
					</button>
				</div>
			</div>
			
			<button class="btn btn-primary viewFind" >Hiển thị tìm kiếm</button>
			<div class="viewForm">
				<form action="/user/dataSearch" style="margin-top: 10px;" id="formFind">
					<div class="row">
						<div class="col-sm-6">
							<label for="name" class="mr-sm-2">Họ và tên:</label> <input
								type="text" placeholder="Nhập name cần tìm" name="namefind"
								class="form-control" th:value="${session.NAMEFIND}" />
						</div>
						<div class="col-sm-6">
							<label for="name" class="mr-sm-2">Email:</label> <input
								type="text" name="emailfind" class="form-control" placeholder="Nhập email cần tìm"
								th:value="${session.EMAILFIND}" />
						</div>
					</div>
					
					<div class="row" style="margin-top: 10px;">
						<div class="col-sm-6">
							<label for="name" class="mr-sm-2">Địa chỉ:</label> <input
								type="text" placeholder="Nhập Địa chỉ cần tìm" name="addressfind"
								class="form-control" th:value="${session.ADDRESSFIND}" />
						</div>
						<div class="col-sm-6">
							<label for="name" class="mr-sm-2">Giới tính:</label> 
					        <select class="form-control" name="genderfind" id="genderfind" multiple >
								<option value="1">Nam</option>
								<option value="2">Nữ</option>
								<option value="3">Không xác định</option>
							</select>
						</div>
					</div>
					
					<button type="submit" class="btn btn-primary"
						style="margin-top: 10px; margin-bottom: 10px; float: right;">
						<span class="glyphicon glyphicon-search"></span> Tìm kiếm
					</button>
				</form>
			</div>
			
			<th:block th:if="${null == USERS}">
				<h3 style="text-align: center;" th:text="${session.MESLIST}"></h3>
			</th:block>
			<th:block th:unless="${null == USERS}">
				<form th:action="@{/user/deleteAll}" method="get" id="formDelete">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th><input id="selectAll" type="checkbox"></th>
								<th>EMAIL</th>
								<th>Họ và Tên</th>
								<th>Ngày sinh</th>
								<th>Số điện thoại</th>
								<th>Giới tính</th>
								<th>Địa chỉ</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="item: ${USERS}">
								<td><input type="checkbox" name="id[]"
									th:value="${item.id}"></td>
								<td>
									<a th:href="@{/user/oneUser/(id=${item.id})}" class="editButton">
									<label class="linkEdit" th:text="${item.email}"></label></a>
								</td>
								<td th:text="${item.fullname}"></td>
								<td th:text="${item.birthday}"></td>
								<td th:text="${item.phone}"></td>
								<td>
									<span th:if="${item.gender == 1}">Nam</span>
									<span th:if="${item.gender == 2}">Nữ</span>
									<span th:unless="${item.gender == 2 || item.gender == 1}">Không xác định</span>
								</td>
								<td th:text="${item.address}"></td>
							</tr>

						</tbody>
					</table>
				</form>
				<div class="row">
					<div class="col-sm-4" style="margin-top: 20px;">
						<form class="form-inline" action="/user/pagesize" method="post">
							<input type="number" placeholder="Nhập số dòng trên trang"
								name="pagesize" class="form-control"
								th:value="${session.PAGESIZE}" />
							<button type="submit" class="btn btn-primary"
								style="margin-left: 10px;">Hiển thị</button>
						</form>
					</div>

					<div class="col-sm-4">
						<ul class="pagination justify-content-center">
							<li
								th:class="${currentIndex == 1}? 'page-item disabled' : 'page-item'">
								<a class="page-link" th:href="@{|${baseUrl}${1}|}">First</a>
							</li>
							<li
								th:class="${currentIndex == 1}? 'page-item disabled': 'page-item' ">
								<a class="page-link" aria-label="Previous"
								th:href="@{|${baseUrl}${currentIndex - 1}|}"
								title='Go to previous page'><span aria-hidden="true">«</span>
									<span class="sr-only">Previous</span></a>
							</li>
							<li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
								th:class="${item == currentIndex ? 'page-item active' :'page-item' }">
								<a class="page-link" th:href="@{|${baseUrl}${item}|}"> <span
									th:text='${item}'>1</span>
							</a>
							</li>
							<li
								th:class="${currentIndex == totalPageCount}? 'page-item disabled': 'page-item'">
								<a class="page-link" aria-label="Next"
								th:href="@{|${baseUrl}${currentIndex + 1}|}"
								title='Go to next page'><span aria-hidden="true">»</span> <span
									class="sr-only">Next</span></a>
							</li>
							<li
								th:class="${currentIndex == totalPageCount}? 'page-item disabled':'page-item'">
								<a class="page-link" th:href="@{|${baseUrl}${totalPageCount}|}">Last</a>
							</li>
						</ul>
					</div>

					<div class="col-sm-4" style="margin-top: 20px;">
						<p style="text-align: center">
							TỔNG SỐ RECORD : <label th:text="${session.COUNT}"></label>
						</p>
					</div>

				</div>
			</th:block>
		</div>
		
		<div class="modal fade" id="addModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<form th:action="@{/user/addNew}" method="post" id="formAdd"
				onsubmit="return formAddValidation()">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">New User</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">

							<div class="form-group">
								<input type="hidden" class="form-control" id="idAdd" name="id">
							</div>
							<div class="form-group">
								<label for="email" class="col-form-label">Email(<label style="color: red">*</label>):</label> <input
									type="text" class="form-control" id="emailAdd" name="email">
							</div>
							<p id="errorEmailAdd" style="color: red"></p>

							<div class="form-group">
								<label for="password" class="col-form-label">Password(<label style="color: red">*</label>):</label> <input
									type="password" class="form-control" id="passwordAdd"
									name="password">
							</div>
							<p id="errorPasswordAdd" style="color: red"></p>
							
							<div class="form-group">
								<label for="fullname" class="col-form-label">Họ và tên:</label> <input
									type="text" class="form-control" id="fullnameAdd" name="fullname">
							</div>
							<p id="errorFullnameAdd" style="color: red"></p>
							
							<div class="form-group">
								<label for="phone" class="col-form-label">Phone:</label> <input
									type="text" class="form-control" id="phoneAdd" name="phone">
							</div>
							<p id="errorPhoneAdd" style="color: red"></p>
							
							<div class="form-group">
								<label for="birthday" class="col-form-label">Ngày sinh:</label> <input
									type="text" class="form-control" id="birthdayAdd" name="birthday" placeholder="dd-MM-yyyy">
							</div>
							<p id="errorBirthdayAdd" style="color: red"></p>
							
							<div class="form-group">
								<label>Giới tính(<label style="color: red">*</label>)</label>
								<div class="form-check form-check-inline">
									<!--value = 1 => Nu| 2 =>Nam|3 =>Ko xac dinh -->
									<label class="form-check-label" style="margin-right: 20px;"> 
										<input class="form-check-input" type="radio" name="gender" value="1" id="genderAdd"> Nam
									</label> 
									<label class="form-check-label" style="margin-right: 20px;"> 
										<input class="form-check-input" type="radio" name="gender" value="2" id="genderAdd"> Nữ
									</label>
									<label class="form-check-label"> 
										<input class="form-check-input" type="radio" name="gender" value="3" id="genderAdd"> Ko xác định
									</label>
								</div>
							</div>
							<p id="errorGenderAdd" style="color: red"></p>
							
							<div class="form-group">
								<label for="birthday" class="col-form-label">Địa chỉ:</label> 
								<textarea class="form-control" rows="2" name="address" id="addressAdd"></textarea>
							</div>
							<p id="errorAddressAdd" style="color: red"></p>
							
							<div class="form-group">
								<label for="name" class="mr-sm-2">Vai trò(<label style="color: red">*</label>):</label> 
				        		<select class="form-control" id="roleAdd" name="role[]" multiple >
									<option th:each="item:${ROLES}"
										th:value="${item.id}" th:text="${item.rolename}"></option>
								</select>
							</div>
							<p id="errorRoleAdd" style="color: red"></p>
							
							<div class="form-group">
								<label for="name" class="mr-sm-2">Chức năng</label> 
				        		<select class="form-control" id="chucnangAdd" name="chucnang[]" multiple >
									<option th:each="item: ${CNS}"
										th:value="${item.id}" th:text="${item.name}"></option>
								</select>
							</div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary" id="add">save</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		
		<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<form th:action="@{/user/save}" method="put" id="formEdit" name ="formEdit"
				onsubmit="return formEditValidation()">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Update User</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">

							<div class="form-group">
								<input type="hidden" class="form-control" id="idEdit" name="id">
							</div>
							<div class="form-group">
								<label for="email" class="col-form-label">Email(<label style="color: red">*</label>):</label> <input
									type="text" class="form-control" id="emailEdit" name="email">
							</div>
							<p id="errorEmailEdit" style="color: red"></p>
							
							<div class="form-group">
								<label for="fullname" class="col-form-label">Họ và tên:</label> <input
									type="text" class="form-control" id="fullnameEdit" name="fullname">
							</div>
							<p id="errorFullnameEdit" style="color: red"></p>
							
							<div class="form-group">
								<label for="phone" class="col-form-label">Phone:</label> <input
									type="text" class="form-control" id="phoneEdit" name="phone">
							</div>
							<p id="errorPhoneEdit" style="color: red"></p>
							
							<div class="form-group">
								<label for="birthday" class="col-form-label">Ngày sinh:</label> <input
									type="text" class="form-control" id="birthdayEdit" name="birthday" placeholder="dd-MM-yyyy">
							</div>
							<p id="errorBirthdayEdit" style="color: red"></p>
							
							<div class="form-group">
								<label>Giới tính(<label style="color: red">*</label>)</label>
								<div class="form-check form-check-inline">
									<!--value = 1 => Nu| 2 =>Nam|3 =>Ko xac dinh -->
									<label class="form-check-label" style="margin-right: 20px;"> 
										<input class="form-check-input" type="radio" name="gender" value="1" id="genderEdit"> Nam
									</label> 
									<label class="form-check-label" style="margin-right: 20px;"> 
										<input class="form-check-input" type="radio" name="gender" value="2" id="genderEdit"> Nữ
									</label>
									<label class="form-check-label"> 
										<input class="form-check-input" type="radio" name="gender" value="3" id="genderEdit"> Ko xác định
									</label>
								</div>
							</div>
							<p id="errorGenderEdit" style="color: red"></p>
							
							<div class="form-group">
								<label for="birthday" class="col-form-label">Địa chỉ:</label> 
								<textarea class="form-control" rows="2" name="address" id="addressEdit"></textarea>
							</div>
							<p id="errorAddressEdit" style="color: red"></p>
							
							<div class="form-group">
								<label for="name" class="mr-sm-2">Vai trò(<label style="color: red">*</label>):</label> 
				        		<select class="form-control" id="roleEdit" name="role[]" multiple >
									<option th:each="item:${ROLES}"
										th:value="${item.id}" th:text="${item.rolename}"></option>
								</select>
							</div>
							<p id="errorRoleEdit" style="color: red"></p>
							
							<div class="form-group">
								<label for="name" class="mr-sm-2">Chức năng</label> 
				        		<select class="form-control" id="chucnangEdit" name="chucnang[]" multiple >
									<option th:each="item: ${CNS}"
										th:value="${item.id}" th:text="${item.name}"></option>
								</select>
							</div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary" id="save">save</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		
		<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Confirm delete</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Bạn có muốn xóa những hàng đã chọn ko</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="deleteId">Yes</button>
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</article>
</body>
</html>
